MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/ticket-management?retryWrites=true&w=majority
JWT_SECRET=supersecret123
ADMIN_EMAIL=admin@demo.com
ADMIN_PASSWORD=Admin@123
PORT=4000
